<li><h2>{{question.corpse}}</h2><br>
    Originally Authored By: {{question.author}}<br>
    Additional Non-Sequitors: {{question.notes}}
    {{update-question question=question update="update"}}
</li>
